
.general-container{
  
  background-color: blanchedalmond;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  
  
   
   
}

.title{
  display: flex;
   height: 5vh;
   padding-top: 15px;
   background-color: #61918E;
   font-family: Heebo;
   color: aliceblue;
   font-weight: 900;
   font-size:25px;
   justify-content: center;
   margin-bottom: 100px;
   



}


